
.fadeIn {
    -webkit-animation-duration: 0.5s;
    animation-duration: 0.5;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;

    -webkit-animation-name: fadeIn;
    animation-name: fadeIn;
}

.circular-btn {
    border-radius: 30px
}

.circular-btn:hover {
    background-color: '#30D680',    !important
}

.summary-card {
    border: 1px solid rbga( 0, 0, 0, 0.1 );
    box-shadow: 0 5px 5px rgba( 0, 0, 0, 0.2 )
}