
.fadeIn {
    -webkit-animation-duration: 0.5s;
    animation-duration: 0.5;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;

    -webkit-animation-name: fadeIn;
    animation-name: fadeIn;
}

.circular-btn {
    border-radius: 30px
}

.circular-btn:hover {
    background-color: '#30D680',    !important
}